h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    /* changes the default inline or block element standard */
    display: inline;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
}

/* Div is considered inline-block */
div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px
}

/* use display:none to hide elements */
h2 {
    display: none;
}