img {
    float: left;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 2.6%;
}

p {
    font-family: 'Raleway', sans-serif;
    margin-left: 2.66%;
    font-size: 23px;
    text-transform: uppercase;
    width: 30%;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}