body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

/* simple way of making a clean navbar using flexbox. */
/* make sure you use justify-content to add spacing between the listed links. */
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    border: 1px red solid;
    /* using flex grow to shape the length of the border */
    flex: 1;
    /* using max-wodth in order to shrink the flex box to be 50% of the container: the nav. */
    max-width: 50%;

    /* a nested flexbox in order to move the listed items around. */
    display: flex;
    /* makes sure the space is distributed evenly */
    justify-content: space-evenly;
}

h1 {
    color: red;
}

@media (min-width: 500px) {
    h1 {
        color: orange
    }
}

@media (min-width: 1000px) {
    h1 {
        color: yellow;
    }
}

@media (min-width: 1500px) {
    h1 {
        color: green;
    }
}

/* when the width is 768px or lower, change the font size to be 4 times the default body's font-size. */
@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    /* makes the nav bar into a column when you decrease the screen size. */
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}