img {
    width: 30%;
    /* using 10% divided by 6 in order to fill up the uneven white space. Because we have 3 30% of images taking up a total of 90% of the page. */
    /* Using flexbox as an alternative method makes it alot easier without having to do the math. */
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    /* the padding em is based off the font-size's em value */
    padding: 1.2em 0;
}